::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.75);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.75);
}

.page404{
  font-size: 15vh;
  margin: auto;
}
html, body{
  width: 100%;
  height: 100%;
}
body{
  /* background: linear-gradient(90deg, rgba(75, 209, 171,1) 20.5625%,rgba(75, 208, 171,1) 20.5625%,rgba(91, 0, 237,1) 80.5625%); */
  background-image: url(../img/Space-Field.jpg);
  background-size: cover;
  color: white;
  display: flex;
}
.aside, .main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  transition: all .2s linear;
}

.aside{
  /* background-color: rgb(40, 40, 40); */
  width: 20%;
  max-width: 20%;
  font-size: 2vh;
}

#btn_hide_aside{
  position: absolute;
  top: -48px;
  left: 1%;

}

#btn_hide_aside:hover {
  top: 1px;
}
.flatten{
  transform: translateX(-100%);
  width: 0%;
  margin: 0;
  padding: 0;
}

.flatten div{
  display: none;
}
.rotate180{
  transform:rotate(180deg);
}


.team_info{
  position: relative;
  width: 100%;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 5px;
}
.taem_info__title{
    font-size: 2.5vh;
    line-height: 2.5vh;
}
.main{
  /* width: 79%;
  max-width: 79%; */
  flex: 1;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin-right: 1%;

  /* transition: all 1.3s; */
}

.round_discription,
.question_description{
  text-align: justify;
  margin: 1%;
  font-size: 3.5vh;

  width: 98%;
  padding: 1%;
}

.star{
  font-size: 3vh;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.star-gold{

  color: gold;
}

.star-silver{
  color: silver;
}

.star-bronze{
  color: #cd7f32;
}

.rond__short_info,
.rond__short_info span,
.rond__short_info span > i{
  line-height: 3vh;
  font-size: 3vh;
  vertical-align: top;
}

.rond__short_info{
  width: 100%;
  text-align: center;
}
.rond__short_info span{
  margin: 3%;
}

.short_info__questions{
  color: rgb(0, 255, 140);
}

.short_info__timer{
  color: rgb(95, 199, 52);
}

.short_info__rewards{
  color: rgb(178, 198, 21);
}


.answers{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

}
.answer{
  width: 50%;
  max-width: 50%;
  min-width: 46%;
  height: auto;
  padding: 1%;
  margin: 1%;
  flex: 1;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 3vh;
}

.answer-true{
  background-color: rgba(13, 254, 0, 0.3);
}
