body
{
	margin: 0 auto;
}
h1
{
	text-align:center;
	margin-top: 1%;
}
.question
{
	margin: 5% 10% 1% 10%;
}
p
{
	font-size: 30pt;
}
.answer
{
	 margin: 1% 10% 1% 10%;
}

.time
{
	 margin:5% 30% 0 25%;
	text-align:center;
}

.footer
{
      flex: 0 0 auto;
}
