body
{
	margin 0 auto;
}
h1
{
	text-align:center;
	margin-top: 1%;
}
.question
{
	text-align:center;
	margin: 10% 10% 10% 10%;	 
}
p
{
	font-size: 30pt;
}
.time
{
	margin-top: 10%;
	text-align:center;	
}
.footer {
  flex: 0 0 auto;
}